* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colores */
    --color1: #443776;
    --color2: #5b4f8c;
    --color3: #8d7bb7;
    --color4: #c9b7f1;
    --color5: #DBC0E7;
    /* Fuentes */
    --fuente1: "Space Mono", monospace;
    --fuente2: "Rubik", sans-serif;
    /* Tamaño de fuente */
    --fsize1: 3.5em;
    --fsize2: 2.7em;
    --fsize3: 2em;
    --fsize4: 1.25em;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fuente2);
}

h1 {
    font-size: var(--fsize2);
}

h2 {
    font-size: var(--fsize3);
    color: var(--color2);
}

h3 {
    font-size: var(--fsize3);
}

p {
    font-size: var(--fsize4);
    font-family: var(--fuente2);
}

ul {
    font-size: var(--fsize4);
}

.color-acento {
    color: var(--color5);
    font-weight: bold;
}

.boton {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: var(--color3);
    transition: all 0.3s ease-in-out;
}

.boton2 {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    color: white;
    transition: all 0.3s ease-in-out;
}

.boton2:hover {
    color: #B3826C;
    border: 1px solid #B3826C;
}

.boton__link {
    text-decoration: none;
    text-decoration-color: var(--color1);
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #B3826C;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.boton__link:hover {
    color: #B3826C;
    background-color: #69574e;
}

.boton:hover {
    background-color: var(--color2)
}

.img-fluid {
    max-width: 95%;
    height: 200px;
    border-radius: 8px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    box-sizing: border-box;
}

.col-100 {
    flex-basis: 100%;
    width: 100%;
}

/* Header */

header {
    background: linear-gradient(rgba(68, 55, 118, 0.95));
    padding: 10px 15px;
    box-shadow: 0 1px 10px #e5d7eb;

    position: sticky;
    top: 0px;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #B3826C;
}

.flex__grow {
    flex-grow: 1;
}

.absolute {
    display: none;
}

.relative {
    display: none;
}

.nav-bar {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    background-color: var(--color2);
    border-radius: 8px;
}

.main-nav.show {
    display: none;
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    right: 0;
    top: 92px;
    background-color: rgba(141, 123, 183, 0.8);
}

.main-nav ul {
    list-style-type: none;
    gap: 7px;
    padding: 10px 10px;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: var(--color5);
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.nav-link:hover {
    color: var(--color3);
}

/* Hero */
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: var(--color5);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner.jpg");
}

#hero a {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: var(--color3);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#hero a:hover {
    background-color: var(--color2)
}

/* About */
#about {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../img/html.jpg");
    background-size: cover;
    background-position: center;
    color: var(--color5);
}

#about h2 {
    margin-bottom: 20px;
}

#about p {
    text-align: center;
}

#about .container {
    text-align: center;
    padding: 200px 12px;
}

/* Tech */
#tech {
    background: linear-gradient(rgba(0, 0, 0, 0.5), var(--color3)), var(--color3);
    color: var(--color5);
    text-align: center;
}

#tech h2 {
    color: var(--color3);
}

#tech .container {
    padding: 150px 12px;
}

#tech .card {
    background-position: center center;
    background-size: cover;
    padding: 50px 10px;
    margin: 20px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.tecnologias {
    display: flex;
    flex-direction: column;
}

.card:first-child {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/naruto.jpg");
}

.card:nth-child(2) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/kaneki.jpg");
}

.card:last-child {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/lookback.jpg");
}

/* proyectos */
#proyectos {
    background: var(--color2);
    height: 90vh;
    text-align: center;
}

#proyectos .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#proyectos h2 {
    color: var(--color4);
    margin-bottom: 15px;
}

/* contacto */
#contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to top, var(--color3), var(--color4));
    color: var(--color5);
    height: 80vh;
}

#contacto h2 {
    font-size: 2.4em;
    margin-bottom: 10px;
}

/* Carrusel */
.proyectos__btn__carrusel {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    margin: 20px 0;
}

/* Animanga */

#animanga {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    color: var(--color5);
}

#animanga h2 {
    color: var(--color3);
}

#animanga h3 {
    color: var(--color4);
}

#animanga .container {
    text-align: center;
    padding: 70px 12px;

}

#animanga .col:first-child {
    margin-bottom: 100px;
}

#animanga li {
    margin: 16px 0px;
    font-weight: bold;
    list-style: none;
}

#animanga ul {
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
}

.animanga__info {
    color: var(--color4);
    font-weight: bold;
    margin-bottom: 80px;
}

footer {
    background-color: var(--color1);
}

footer p {
    padding: 12px;
    color: var(--color5);
}

footer .container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media(width>=700px) {

    /* header */
    header {
        position: fixed;
        width: 100%;
    }

    .absolute {
        display: block;
        width: 90px;
        position: absolute;
    }

    .relative {
        display: block;
        width: 150px;
        position: relative;
        background: linear-gradient(0deg, rgba(0.0.0.0.8), rgba(0.0.0.0.3)), #000;
    }

    .nav-bar {
        justify-content: space-between;
    }

    .main-nav.show {
        display: block;
    }

    .main-nav {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: transparent;
    }

    .main-nav ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 0;
    }

    .menu-toggle {
        display: none;
    }

    /* about */
    #about {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/html.jpg");
        background-size: cover;
        background-attachment: fixed;
        color: var(--color4);
    }

    #about .container {
        display: flex;
        justify-content: space-between;
    }

    #about .texto {
        width: 50%;
        max-width: 600px;
        padding-left: 30px;
        text-align: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #about .img-container {
        background-image: url("../img/html.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }

    /* Tech */
    #tech h3 {
        margin-top: 0;
    }

    #tech .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 450px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }

    .tecnologias {
        flex-direction: row;
    }

    .img-fluid {
        height: 600px;
    }

    /* animanga */

    #animanga {
        background-attachment: fixed;
    }

    #animanga ul li {
        list-style: circle;
        text-align: left;
    }

    #animanga .flex {
        justify-content: space-around;
        align-items: flex-start;
    }

    #animanga .col-100 {
        /* (Flex grow, shrink y flex-basis) */
        flex: 1 1 45%;
        max-width: 500px;
    }

    #animanga .animanga__info h2 {
        color: var(--color5);
    }

    #animanga h3 {
        color: var(--color5);
    }

    #animanga ul {
        margin-left: 0;
        text-align: left;
        padding-left: 20px;
        color: var(--color4);
        background-color: transparent;
    }
}